version: "3.7"

services:
  portfolio-backend:
    build:
      context: .
    container_name: portfolio-backend
    environment:
      - NODE_ENV=production
    expose:
      - "3000"
    restart: unless-stopped
    networks:
      - web

networks:
  web:
    external: true
